body{
  background: #CCCCCC;  
}

#banner {
  width: 100%;
}

h1{
  background: #CCCCCC; 
}

body{
  background: #CCCCCC; 
}

em strong {
  color: red;
}

missao {
  font-size: 20px;
}

.itens {
  font-style: italic;
}